.waterFall {
  position: relative;
}

.waterFall .waterFall-item {
  position: absolute;
  width: 240px;
  border-radius: var(--borderRadius);
  background: #fff;
  overflow: hidden;
  transition: all 0.2s;
}
